# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Uploads
static/uploads/

# VS Code
.vscode/
# Logs
app.log

# Flask session files
flask_session/